<!DOCTYPE html>
<html lang="en">

<head>
    <title>tryoutCompiler</title>
    <meta charset="utf-8" />
    <meta content="viewport" value="width=device-width, initial-scale=1.0" />
</head>

<body>
    <script>
        SEC_HTTPS = true;
        SEC_BASE = "compilers.widgets.sphere-engine.com";
        (function (d, s, id) {
            SEC = window.SEC || (window.SEC = []);
            var js,
                fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src =
                (SEC_HTTPS ? "https" : "http") +
                "://" +
                SEC_BASE +
                "/static/sdk/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        })(document, "script", "sphere-engine-compilers-jssdk");
    </script>
    <div style="height: 700px">
        <div class="sec-widget" data-widget="56b769512bc42fbdfabb5f0dd2f474f5"></div>
    </div>
</body>

</html>